@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    /* Pour que 1rem soit équivalent à 10px sur toute la page */
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: darkgray;
}
/* ------------------- */
/* Liste des variables */
/* ------------------- */
:root {
    --nav: #ffc107;
    --nav_hover: #8bc34a;
    --medium_grey: #e3e3e3;
    --light_blue: #deebff;
    --shadow: 0px 0px 6px rgba(158, 158, 158, 0.8);
    --form_height: 5rem;
}
/* ------------------- */

.container {
    height: 100vh;
    padding: 0;
}

p {
    font-size: 1.2rem;
}
