.about {
    display: flex;
    background-color: blueviolet;
}

.about__contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 80%;
    min-height: 80%;
    background-color: beige;
    padding: 20px;
    align-items: center;
    gap: 2rem;
}

.about__presentation {
    display: flex;
    gap: 2rem;
}

.about__title {
    width: 100%;
    margin: 0;
}
.about__title h1 {
    margin: 0;
}

.about__text {
    text-align: justify;
}

.about__img img {
    object-fit: cover;
    width: 200px;
    aspect-ratio: 1;
}
