.section__container {
    /* position: relative; */
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    scroll-snap-points-y: repeat(100vh);
    /* z-index: -20; */
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.section__container::-webkit-scrollbar {
    display: none;
}

.section__container > * {
    width: 100vw;
    position: relative;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    z-index: -30;
}

.apropos {
    background-color: blueviolet;
}
.portfolio {
    background-color: dodgerblue;
}
.contact {
    background-color: brown;
}
