.section__container {
    /* position: relative; */
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    scroll-snap-points-y: repeat(100vh - 70px);
    /* z-index: -20; */
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.section__container::-webkit-scrollbar {
    display: none;
}

.section__container > * {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100vw;
    position: relative;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    /* z-index: -30; */
    top: 70px;
}

.section {
    background-color: #fdecc3;
}

.section__title {
    margin: 12px auto;
}

.swiper-pagination {
    position: relative;
}

@media all and (max-width: 768px) {
    .section__container > * {
        overflow: auto;
    }
}
